@import '../abstracts/variables';

table.table {
  box-shadow: $box-shadow-frame;
  border-radius: $button-border-radius;

  thead {
    background-color: $primary-gray-color-1;

    tr {
      text-transform: uppercase;
    }

    th {
      border-bottom: none;
    }
  }

  tbody {
    td {
      border-bottom: 1px solid $primary-gray-color-2;
    }

    tr:last-of-type td,
    tr:last-of-type th {
      border-bottom: none;
    }

    button.btn {
      text-align: left;
      padding: 0;
    }
  }

  &>:not(caption)>*>* {
    padding: $dashboard-table-cell-padding;
  }
}

#table-results {
  align-self:center;
  padding-bottom: 1rem;

  th, td {
    border: 1px solid gray;
  }

  th {
    text-align: center;
  }

  td:nth-child(1) {
    text-align: left;
  }

  td:nth-child(2) {
    text-align: right;
  }

  td:nth-child(3) {
    text-align: right;
  }
}
