<main>
    <div>
        <!--        TODO should we be getting rid of the pre-loaded communities? what's the situation with datenschutz? -->
        <h4>Project setup</h4>
        <p>
            To conduct the process for your own community, please input the community name into the <span class="helpvar">Name</span> field.
            You may optionally add a <span class="helpvar">description</span> for your project.
        </p>
        <p>
            <span class="helpvar">Latitude and longitude:</span> To fill in the site's coordinates, simply select the location on the map.
            You can zoom into the map by scrolling and panning by dragging. Once a site is selected, the
            latitude and longitude will be automatically filled in.
        </p>
    </div>
</main>
