{% load static %}

<main xmlns="http://www.w3.org/1999/html">
        <p>
        For demand assessment, the introduced methodology of combining a socioeconomic survey with stochastic
        demand modeling is applied. The survey for the current project is hosted on the open server platform
        “kobotoolbox” by clicking on “Generate survey link”. There are two modes for survey-based demand assessment:
        </p>
        <p>
        a)	Single- Representative Mode: One representative of the project is filling a for representing the entire
        population in the project; demand is modelled by assessing one survey. This mode is suitable when good,
        centralized data is available and time or resources for a broad survey are limited.
            <br>
        b)	Population-Level Surveying: Various representatives of the population within the project,
        including representatives of public services, farmers, business owners, subsistence farmers,
        and households, fill surveys; demand is assessed by evaluating all filled surveys.
            <br>
        This mode can provide more granular modeling and representation of diverse needs.
        The survey structure adapts according to the chosen mode. The deployed demand survey has been developed
            by the OptiMG consortium partner and sustainable energy project developer EnGreen.
            After filling the survey(s), clicking on “Ramp simulation” triggers stochastic demand modeling,
            which derives hourly demand profiles for electricity demand, drinking water demand, and survey water demand
            using the inputs from the survey(s).
        </p>
</main>
